<footer
  class="footer sm:footer-horizontal max-w-248 mx-auto mt-4 bg-white text-black items-center p-4 rounded-2xl shadow-sm justify-items-center sm:justify-items-start gap-4 sm:gap-4"
>
  <aside class="grid-flow-col items-center">
    <p>© 2025 Anxav</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a
      href="https://www.linkedin.com/in/yap-ka-poh/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-black hover:text-[#0274b3] hover:scale-115 transition-all ease-in-out"
    >
      <i class="fa-brands fa-linkedin text-2xl"></i>
    </a>
    <a
      href="https://github.com/AnxavY"
      target="_blank"
      rel="noopener noreferrer"
      class="text-black hover:scale-115 transition-all ease-in-out"
    >
      <i class="fa-brands fa-github text-2xl"></i>
    </a>
    <a
      href="https://www.behance.net/laiv"
      target="_blank"
      rel="noopener noreferrer"
      class="text-black hover:text-[#005cff] hover:scale-115 transition-all ease-in-out"
    >
      <i class="fa-brands fa-behance-square text-2xl"></i>
    </a>
    <a
      href="https://anxav.itch.io/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-black hover:text-[#fa5d5d] hover:scale-115 transition-all ease-in-out"
    >
      <i class="fa-brands fa-itch-io text-2xl"></i>
    </a>
  </nav>
</footer>
