<div class="navbar bg-white rounded-b-2xl w-full mb-4 shadow-sm">
  <div class="flex-none lg:hidden">
    <label
      for="my-drawer-2"
      aria-label="open sidebar"
      class="btn btn-square btn-ghost active:bg-transparent"
    >
      <img src="src/images/burger_bar.svg" class="w-7 h-7" />
    </label>
  </div>
  <div class="mx-2 flex-1 px-2 text-black">
    <div class="breadcrumbs text-xl font-extrabold">
      <ul>
        <li class="text-[#FFBE0F]">
          <a href="index.html">src</a>
        </li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="hidden flex-none lg:block">
    <ul class="menu menu-horizontal text-xl text-black font-extrabold">
      <li>
        <a
          href="about.html"
          class="hover:scale-110 hover:text-[#FFBE0F] transition-all ease-in-out"
          >ABOUT</a
        >
      </li>
      <li>
        <a
          class="hover:scale-110 hover:text-[#FFBE0F] transition-all ease-in-out"
          >CREATIONS</a
        >
      </li>
      <li>
        <a
          class="hover:scale-110 hover:text-[#FFBE0F] transition-all ease-in-out"
          >RANDOMS</a
        >
      </li>
    </ul>
  </div>
</div>
