@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-animated';
@plugin 'daisyui';

@layer base {
  html {
    font-family: 'Sour Gummy', sans-serif;
  }

  .menu {
    & :where(li ul) {
      &:before {
        --color-base-content: black;
        opacity: 50% !important;
      }
    }
  }
}

@layer utilities {
  .menu {
    @layer daisyui {
      --menu-active-fg: black;
      --menu-active-bg: transparent;
    }
  }
}

@layer components {
  .breadcrumbs {
    & > ul > li,
    & > ol > li {
      & + *:before {
        content: '/' !important; /* Replaces chevron with slash */
        color: black !important; /* Sets slash color */
        border: none !important; /* Removes daisyUI's border-based chevron */
        rotate: 0deg !important; /* Resets the 45-degree rotation */
        opacity: 1 !important; /* Makes the red solid/visible */
        width: auto !important;
        height: auto !important; /* Resets fixed height */
        margin-right: 6px !important;
        margin-left: 7px !important;
      }
    }
  }

  .timeline-vertical {
    & > li {
      grid-template-rows: minmax(0, auto) 1fr minmax(0, auto);
    }

    .timeline-start,
    .timeline-end {
      padding-top: 0;
      padding-bottom: 0.25rem;
    }
  }
}
